header {
  align-items: center;
  display: flex;
  font-size: 18px;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
  position: relative;
  text-align: center;
  transform-style: preserve-3d;
  perspective: 100px;
}

header:before {
  animation: fade-slide-down 2s .5s cubic-bezier(0, 0.5, 0, 1) forwards;

  background-size: cover;
  content: "";
  opacity: 0;
  position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  z-index: -1;
}

header:after {
  animation: rotate-up .5s .5s cubic-bezier(0, 0.5, 0, 1) forwards;
  background: #F9FCFF;
  content: "";
  height: 40rem;
  left: -5%;
  position: absolute;
    right: -5%;
    top: 90%;
  transform-origin: 0 0;
  z-index: 0;
}

.header-title, .header-subtitle {
  color: black;
}

.header-subtitle {
  text-transform: uppercase;
  margin-bottom: 5rem;
}

.header-button {
  transform: translateZ(.1px);
  position: relative;
  z-index: 10;
}

.animate-pop-in {
  animation: pop-in .6s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
  opacity: 0;
}

.rocky-dashed {
  animation-delay: .6s;
}

.header-title {
  animation-delay: .8s;
}

.header-subtitle {
  animation-delay: 1s;
}

.header-button {
  animation-delay: 1.1s;
}

#rhyme{
  font-family: 'Dancing Script', cursive;
}


/* Animations */

@keyframes fade-slide-down {
  0% {
    opacity: 0;
    transform: translateY(-4rem);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

#img:hover {
  -webkit-animation: rotation 5s infinite linear;
}

@-webkit-keyframes rotation {
  from {
      -webkit-transform: rotateY(0deg);
      
      
  }
  to {
      -webkit-transform: rotateY(359deg);			
      
  }
/*		0%{
    -webkit-filter: invert(0%); 
      filter: invert(0%);
  }
  50%{
    -webkit-filter: invert(50%); 
      filter: invert(50%);
  }
  100%{
    -webkit-filter: invert(100%); 
      filter: invert(100%);

  } */

}


@keyframes pop-in {
  0% {
    opacity: 0;
    transform: translateY(-4rem) scale(.8);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes rotate-up {
  100% {
    transform: rotateZ(-4deg);
  }
}

#google{
  background-color:  #DB4437;
  font-size: 20px;
}

#facebook{
  background-color:  	#3b5998;
  font-size: 20px;
  
}

.transparent{
  background: transparent;
}